html {
    min-height: 100%;
    background-image:url(assest/EA1VGqqX4AEa7EN.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }

 html{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}
.container{
  display: grid;
  grid-template-columns: 250px 1fr 300px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
}
#menu{
  background: rgb(250, 226, 226);
}
.title{
  padding: 0 30px;
}
#menu img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 30px;
}
.title p{
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: indianred;
  margin: 0;
}
.border{
  width: 80px;
  height: 4px;
  margin: 3px 0;
  margin-bottom: 30px;
  border-radius: 2px;
  background: rgb(219, 217, 216);
}

.menu-item a{
  display: block;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px 0;
  color: rgb(7, 112, 112);
  font-weight: 300;
  
}
.menu-item a:hover{
  background: rgb(214, 12, 12);
}

.register{
  display: block;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px 30px;
  margin: 20px 0;

}

.register a:hover{
  background:yellow;
}